!!! 5
%title EroGetter Server
%link{:rel => 'stylesheet', :href => '/bootstrap/css/bootstrap.css', :type => 'text/css'}
%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', :type => 'text/javascript'}
.container
  %h1 EroGetter Server

  .row
    .span6
      %h2 Usage
      %dl
        %dt GET /
        %dd show usage and queues (this page)
        %dt POST /
        %dd add url to queue

      %h2 Source
      %ul
        %li
          %a{:href => 'https://github.com/masarakki/ero_getter_server'} EroGetter Server
        %li
          %a{:href => 'https://github.com/masarakki/ero_getter_chrome_extension'} EroGetter Chrome Extension

      %h2 Sites
      %ul
        - @sites.each do |site|
          %li= site.site_name

    .span6
      %h1 Workers
      %h2 pid
      - if @worker
        = @worker.pid
      - else
        NOT RUNNING
      %h2 run
      BACKGROUND=true COUNT=1 QUEUE=ero_getter be rake resque:workers
      %h2 queues
      = @queues
      %a{:href => '/queue'} details
